.form-wrapper {
  height: 					calc(100vh - 224px);
  display: 					flex;
  justify-content: 	center;
  align-items: 		 	center;
}

form {
	position: relative;
}

.form-row {
	width: 			 287px;
	padding-top: 16px;
}

button:not([disabled]) {
  background-color: #007bff;
  color: white;
}

.payLoad {
	position: absolute;
	bottom: 	-48px;
	left: 		0px;
}

@media (min-width: 700px) {
  
 form {
    font-size: 24px;
  }

  .form-row {
  	width: 400px;
  }

}